<p>
  stock-exchange page
</p>
<!-- <button (click)="updateColumn()">updateColumns</button> -->
<button (click)="SetRandomData()">set random numbers</button>
<button (click)="startAlert()">start transaction update</button>
<button (click)="stopAlert()">stop transaction update</button>
<!-- <button (click)="transactionUpdate2()"> transaction update</button> -->




<!-- [autoGroupColumnDef]="autoGroupColumnDef"  -->
<!-- [popupParent]="popupParent" -->
<!-- [getChartToolbarItems]="getChartToolbarItems" -->
<ag-grid-angular 
  #agGrid
  style="width: auto; height: 500px;"   
   [pagination]="true"
   
  class="ag-theme-balham"
  [rowData]="rowData | async" 
  [columnDefs]="columnDefs"
  rowSelection="multiple"
  [enableRangeSelection]="true"
  [enableCharts]="true"
   
   
   (gridReady)="onGridReady($event)"
   
  >
</ag-grid-angular>

