<p>
  NASDAQ live page open 0930-1700 eastern time (1630-2400 Greek time)
</p>

    
    
  <p id="timer"></p>
  <!-- <p id="greekHours"></p> -->
  <p id="usaTime"></p>
<div id="demo"></div>
 <div style="margin-bottom: 5px;"><button (click)="onUpdateSomeValues()">Update bidPrice bidSize askPrice</button></div>
<!--  <button (click)="onBtForEachNode()">For-Each Node</button>
 <button (click)="bachUpdate()">bachUpdate</button>
  <button (click)="updateBidprice()">updateBidprice</button>
  <button (click)="updateUsingTransaction()">Transaction Update</button>
  <button (click)="scrambleAndRefreshAll()">Scramble &amp; Refresh All</button> -->
    <button (click)="SetRandomData()">set random numbers</button>
  <button (click)="transactionUpdate()">transaction update</button>



 
<ag-grid-angular 
  #agGrid
  style="width: auto; height: 500px;"   
  [pagination]="true"
  [autoGroupColumnDef]="autoGroupColumnDef" 
  class="ag-theme-balham"
  [rowData]="rowData | async" 
  [columnDefs]="columnDefs"
  rowSelection="multiple"
  [enableRangeSelection]="true"
  [enableCharts]="true"
   [popupParent]="popupParent" 
   [getChartToolbarItems]="getChartToolbarItems"
   [rowModelType]="rowModelType"
   
   
   
    (gridReady)="onGridReady($event)"
  >
</ag-grid-angular>

