<p>
  NASDAQ live page open 0930-1700 eastern time (1630-2400 Greek time)
</p>

    
    
  <p id="timer"></p>
  <!-- <p id="greekHours"></p> -->
  <p id="usaTime"></p>
<div id="demo"></div>
 <div style="margin-bottom: 5px;">


    <button (click)="SetRandomData()">set random numbers</button>
  <button (click)="startAlert()">transaction update start</button> 
  <button (click)="stopAlert()">transaction update stop</button>

  <!-- [autoGroupColumnDef]="autoGroupColumnDef"  -->
  <!-- [popupParent]="popupParent" 
  [getChartToolbarItems]="getChartToolbarItems" -->

 
<ag-grid-angular 
  #agGrid
  style="width: auto; height: 500px;"   
  [pagination]="true"
 
  class="ag-theme-balham"
  [rowData]="rowData | async" 
  [columnDefs]="columnDefs"
  rowSelection="multiple"
  [enableRangeSelection]="true"
  [enableCharts]="true"
   
  
   [rowModelType]="rowModelType"
   
   
   
    (gridReady)="onGridReady($event)"
  >
</ag-grid-angular>

