<p>
  stock-markets page
</p>
 <!-- <button (click)="updateSelected()">update selected rows</button> -->

 <button (click)="refresh()">Refresh</button>
  <button (click)="updateSelected()">update selected rows</button>
  <button (click)="addRow(test)">Add Row</button>
  <button (click)="removeSelected()">Remove Selected</button>
 <!--  [autoGroupColumnDef]="autoGroupColumnDef"
  [popupParent]="popupParent" 
  [getChartToolbarItems]="getChartToolbarItems" -->
 
<ag-grid-angular 
  #agGrid
  style="width: auto; height: 500px;"   
  [pagination]="true"
  
  class="ag-theme-balham"
  [rowData]="rowData | async" 
  [columnDefs]="columnDefs"
   [enableRangeSelection]="true"
  [enableCharts]="true"
   
   
    [rowSelection]="rowSelection"
	[groupSelectsChildren]="true"
	
	 [groupSelectsChildren]="true"
  
   (gridReady)="onGridReady($event)"
  >
</ag-grid-angular>