<p>
  stock-markets page
</p>
 <button (click)="updateColumn()">updateColumn</button>
 <button (click)="SetRandomData()">set random numbers</button>
 <button (click)="setData()">setData</button>
  <button (click)="setData2()">setData2</button>
 
 
<ag-grid-angular 
  #agGrid
  style="width: auto; height: 500px;"   
  [pagination]="true"
  [autoGroupColumnDef]="autoGroupColumnDef"
  class="ag-theme-balham"
  [rowData]="rowData | async" 
  [columnDefs]="columnDefs"
   [enableRangeSelection]="true"
  [enableCharts]="true"
   [popupParent]="popupParent" 
   [getChartToolbarItems]="getChartToolbarItems"
    [rowSelection]="rowSelection"
	[groupSelectsChildren]="true"
	 (selectionChanged)="getSelectedRowNode($event)"
  
   (gridReady)="onGridReady($event)"
  >
</ag-grid-angular>